<div data-dojo-type="dijit.layout.BorderContainer" class="${baseClass}Root">
	<div style="font-size:24px;padding-top:10px; vertical-align:text-top">
	<label>Valid For: <span style="color:#F00"><b>APR 2013</b></span></label>
    </div>
    <div class="${baseClass}hr"><hr></div>
    <div class="${baseClass}MoDrop" style="padding-top:5px;" >
    	<div style="padding-left:5px; padding-right:5px;"><label>Select Application Month: </label><select id="months" name="moSelect" data-dojo-type="dijit.form.FilteringSelect" data-dojo-props="style:'width:200px;'"></select></div>
    </div>
    <div class="${baseClass}AiDrop" style="clear:both; padding-top:5px;">
		<div style="padding-left:5px; padding-right:5px;"><label>Select Active Ingredient: </label><select id="ais" name="aiSelect" data-dojo-type="dijit.form.FilteringSelect" data-dojo-props="style:'width:200px;'"></select></div>
    </div>
    <div class="${baseClass}AiDrop" style="clear:both; padding-top:5px;">
		<div style="padding-left:5px; padding-right:5px;"><label>Select Product: </label><select id="ais" name="aiSelect" data-dojo-type="dijit.form.FilteringSelect" data-dojo-props="style:'width:200px;'"></select></div>
    </div>          
</div>


